# Strings
a string can be created by entering text between two single or double quotation marks
and not only texts but a integer or a float inside the quotation marks will become strings

In [1]:
print("Hello, Peter")

Hello, Peter

In [2]:
type("4.0"), type(4.0)  #data type with and without quoation

(str, float)

In [3]:
type("4"), type(4)

(str, int)

In [4]:
print("peter\'s suit")   #using Backslashes to escape tabs

peter's suit

In [5]:
print("I\'m learning")

I'm learning

# New lines

In [6]:
print("one\nTwo\nThree")

one
Two
Three

In [7]:
print('''I
am
rishu ''')

I
am
rishu

In [8]:
print('''This
is a
multiline 
text''')

This
is a
multiline
text

In [9]:
print('HI')
print('''This
is 
great''')

HI
This
is
great

# Concatenation
- as with integers and floats, strings in python can be added, using a process called concatenation

In [10]:
print("0"+"rishu"+"0")

0rishu0

In [11]:
print("Day2" + "of" "100Daysofcode")

Day2of100Daysofcode

In [12]:
print("2"+"2"), print(2+2)

22
4

(None, None)

In [13]:
print("python"+"is"+"awesome")

pythonisawesome

In [14]:
print("spam"*3)  #string can be multiplied by integers 

#this produces a repeated version of the original string

spamspamspam

In [15]:
print('2'*4), print('7'*3)

2222
777

(None, None)

# Variables
- A variable allows you to store a value by assigning it to a name.
- which can be used to refer to the value later in the program.
- use '=' to assigne a variable

In [16]:
x = 42
spam = "0rishu0"

In [17]:
print(x),  print(spam)

42
0rishu0

(None, None)

In [18]:
type(x), type(spam)

(int, str)

In [20]:
#some basic operations with variable 
print(x + 10)
print(x - 20)
print(x * 5)
print(x / 6)
print(x // 7)
print(x % 8)
print(spam * 5)

52
22
210
7.0
6
2
0rishu00rishu00rishu00rishu00rishu0