# Booleans
- Booleans can have two values: True and False.
- we use this if the statement is correct or not.

In [3]:
My_boolean = True

print(My_boolean)

type(My_boolean)

True

bool

In [4]:
print(2 == 3)

False

In [6]:
print("hello" == "hello")

True

In [5]:
#note : one equal sign for assigning a value to a variable
#and two equal sign for comparing two values or elements

In [8]:
x = 7

print(x != 8)
print(x > 5)
print(x < 2)
print(x >= 7)
print(x <= 7)

True
True
False
True
True

In [9]:
7 != 8    # this '!=' means 'not equal'

True

# IF STATEMENT

In [10]:
#SO NOW IF OUR STATEMENT IS TRUE OR FALSE, NOW WHAT??

In [13]:
X = 42
if x > 5:
    
    print("x is greater than 5")  #the space before if statement is called indentation space before print

x is greater than 5

In [14]:
spam = 7

if spam > 5:
    print("five")
if spam > 8:
    print("eight")

five

In [20]:
num = 12

if num > 5:
    print("Bigger than 5")
if num <= 47:
    print("Between 5 and 47")

Bigger than 5
Between 5 and 47

In [21]:
eggs = 8

if eggs > 5:
    print("eggs are more than 5")
if eggs < 10:
    print("eggs are more than 5 but less than 10")

eggs are more than 5
eggs are more than 5 but less than 10

In [23]:
num = 7

if num > 3:
    print("three")
if num < 5:
    print("five")
if num == 7:
    print("seven")

three
seven

# ELSE STATEMENTS

In [25]:
x = 4

if x == 5:
    print("Yes")
else:
    print("No")

No

In [36]:
if 1 + 1 == 2:
    if 2*2 == 8:
        print("True")
    else:
        print("False")

False

In [44]:
num = 3

if num == 1:
    print("One")
else:
    if num == 2:
        print("Two")
    else:
        if num == 3:
            print("Three")
        else:
            print("something else")

Three

In [45]:
x = 10
y = 20

if x > y:
    print("if statement")
else:
    print("else statement")

else statement

## ELIF
- short for else if

In [47]:
num = 3

if num == 1:
    print("One")
elif num == 2:
    print("Two")
elif num == 3:
    print("Three")
else:
    print("Something else")

Three

# BOOLEAN LOGIC
- The Boolean 'and', 'or', 'not' operators allow to check for multiple conditions in an if statement

## Boolean And
- (and operator) It's True, if both conditions evaluate to True:

In [51]:
print(1 == 1 and 2 == 2)
print(1 == 1 and 2 == 3)
print(1 != 1 and 2 == 2)
print(2 < 1 and 3 > 6)

True
False
False
False

In [52]:
if(1 == 1) and (2 + 2 > 3):
    print("true")
else:
    print("false")

true

## Boolean Or
- The or operator is True if either (or both) of its condition are True
- and false if both conditions are False

In [55]:
print(1 == 1 or 2 == 2)
print(1 != 1 or 2 == 2)
print(1 == 1 or 2 == 3)
print(2 < 1 or 3 > 6)
print(1 == 3 or 3 == 4)

True
True
True
False
False

In [59]:
#can also compare variable
a = 2
b = 10

print(a == a or a == b)
print(a > b or b > a)
print(a > b or b < a)
print(a != a or b > a)

True
True
False
True

In [62]:
age = 15
money = 500

if age > 18 or money > 100:
        print("Welcome")

Welcome

## Boolean Not
- not takes just one argument, and inverts it
- not True is False, and not False goes to True.

In [63]:
print(not 1 == 1)
print(not 1 > 5)

False
True

In [71]:
if not True:
    print("not ok")
else:
    print("ok")

ok

In [70]:
if not (1 == 1):   #this means if 1 is not equal to 1 print "N" and if it is print "Y"
    print("N")
else:
    print("Y")

Y

In [72]:
if not True:     
    print("1")
elif not(1 + 1 == 3):
    print("2")
else:
    print("3")

2